<div class="recipe-list">
  <% @recipes.each do |recipe| %>
  <div class="card recipe-list-item" style="width: 18rem;">
    <img src=<%= recipe.asset.url %> class="card-img" alt="recipe photo">
    <div class="card-body">
      <a href="/recipes/<%= recipe.id %>">
        <h5 class="card-title">
          <%= recipe.title %>
        </h5>
      </a>
    </div>
  </div>
  <% end %>
</div>
